.hero {
  padding: 2rem 1rem 3rem;
  overflow: hidden;
}

.hero-inner {
  display: flex;
  flex-direction: column;
  display: grid;
  grid-template-areas:
    "text"
    "media";
  gap: 2rem;
}

.hero-text {
  grid-area: text;
  text-align: center;

  h1 {
    font-size: 1.75rem;
    font-weight: 700;
    padding: 1.5rem 0.5rem;
  }

  p {
    font-size: 1.2rem;
    padding: 0 1rem;
  }
}

.hero-actions {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-top: 1.5rem;
}

.hero-media {
  grid-area: media;
  position: relative;
  min-height: 22rem;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.hero-panel {
  position: absolute;
  bottom: 0;
  width: 75%;
  height: 70%;
  background: #ddefd8;
  border-radius: 8rem 8rem 0 0;
  z-index: 0;
}

.hero-woman {
  position: relative;
  z-index: 2;
  width: min(75%, 20rem);
}

.hero-vector {
  position: absolute;
  bottom: -4rem;
  width: 14rem;
  z-index: 1;
}









@media (min-width: 48em) {
  .hero-inner {
    grid-template-areas: "text media";
    grid-template-columns: 1fr 1fr;
    align-items: center;
  }

  .hero-text {
    text-align: left;
  }

  .hero-actions {
    justify-content: flex-start;
  }
}