.hero {
  overflow: hidden;
  width: 100%;
}

.hero-inner {
  display: grid;
  grid-template-areas:
    "text"
    "media"
    "actions";
  gap: 1.5rem;
  width: 100%;
}

.hero-text {
  grid-area: text;
  text-align: center;
  padding-inline: 1rem;

  h1 {
    font-size: clamp(1.75rem, 8vw, 2.5rem);
    font-weight: 700;
    padding: 1rem 0.7rem;
  }

  p {
    font-size: clamp(1rem, 5vw,1.2rem);
  }
}

.hero-media {
  grid-area: media;
  position: relative;
  display: flex;
  width: 100%;
  min-height: 15rem;
  justify-content: center;
  align-items: flex-end;
  background: #ddefd8;
  overflow: hidden;
}

.hero-panel {
display: none;
}

.hero-vector {
  position: absolute;
  bottom: 1rem;
  width: min(19rem,85vw);
  z-index: 1;
  opacity: 0.25;
}

.hero-woman {
  position: relative;
  width: min(32rem, 125vw);
  max-width: none;
  height: auto;
  z-index: 2;
}

.hero-actions {
  grid-area: actions;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding-inline: 1rem;
}

.hero-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.9rem 1.5rem;
  border-radius: 999px;
  border: 2px solid #264065;
  font-weight: 600;
  transition: 0.3s ease;
}

// Versión IPAD
@media (min-width: 48em) {
  .hero {
    padding: 3rem 2rem;
  }

  .hero-inner {
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "text media"
      "actions media";
    align-items: center;
    column-gap: 2rem;
  }

  .hero-text {
    text-align: left;
    padding-inline: 0;

    h1 {
      padding: 0;
      font-size: clamp(2.75rem, 5vw, 4rem);
      line-height: 1.2;
      text-align: center;
    }

    p {
      max-width: 28rem;
      margin-top: 1.5rem;
      font-size: 1.5rem;
      text-align: center;
    }
  }

  .hero-actions {
    justify-content: flex-start;
    padding-inline: 0;
    margin-top: 1rem;
  }

  .hero-media {
    min-height: 29rem;
    border-radius: 0 0 0 6rem;
  }

  .hero-vector {
    width: min(24rem, 42vw);
    bottom: 3rem;
    transform: translateY(-6rem);
  }

  .hero-woman {
    width: min(40rem, 125vw);
    height: auto;
  }
}

//Versión DESKTOP

